/* navbar start */
.sidebar {
  height: 100vh;
  background: #cbcbd4;
  box-shadow: 5px 7px 25px #b0b0b7;
}

.bottom-border {
  border-bottom: 1px groove #f20000;
}

.sidebar-link {
  transition: all 0.4s;
}

.sidebar-link:hover {
  background-color: #ec3232;
  border-radius: 5px;
}

.current {
  background-color: #f20000;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.4s;
}

.current:hover {
  background-color: #ec3232;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* navbar end */

/* Counter area css
============================================================================================ */
.counter_area {
  background: #31353d;
  padding: 60px 0px;
}

.counter_item {
  text-align: center;
  color: #e8e8e8;
}

.counter_item i {
  font-size: 40px;
}

.counter_item h4 {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 13px 0px 10px 0px;
}

.counter_item h5 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

/* End Counter area css */

/* Work area css
============================================================================================ */
.work_area {
  background: url(../img/work-bg.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 100px 0px 60px 0px;
}

.work_area:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.work_area .work_content {
  max-width: 920px;
  margin: auto;
  text-align: center;
}

.work_area .work_content p {
  font-size: 18px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #e8e8e8;
  padding: 25px 0px 60px 0px;
}

/* End Work area css
============================================================================================ */
/* Address area css
============================================================================================ */
.address_area {
  background: #f20000;
  padding: 15px 0px;
  box-shadow: 2px 5px 10px #111;
}

.address_inner .media .media-left {
  padding-right: 25px;
}

.address_inner .media .media-body {
  vertical-align: middle;
}

.address_inner .media .media-body h4 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}

.address_inner .media .media-body h5 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  padding-top: 7px;
}

/* End Address area css
============================================================================================ */

/* Footer area css
============================================================================================ */

.f_w_title h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #dd3c29;
}

.address_w_inner .media .media-left i {
  color: #e8e8e8;
}

.address_w_inner .media .media-body p {
  font-size: 15px;
  color: #e8e8e8;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

.footer_copy_right {
  text-align: center;
  padding: 20px 0px;
}

.footer_copy_right h4 {
  color: #e8e8e8;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.footer_copy_right h4 i {
  color: #dd3c29;
}

.footer_copy_right h4 a {
  color: #e8e8e8;
}

.footer_menu li {
  display: inline-block;
  margin-right: 25px;
}

.footer_menu li a {
  color: #afafaf;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.footer_menu li:last-child {
  margin-right: 0px;
}

.footer_menu li:hover a,
.footer_menu li.active a {
  color: #dd3c29;
}

/* End Footer area css
============================================================================================ */

/* contact */
.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(../img/bg-contact.jpg) center center no-repeat fixed;
  background-size: cover;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all .8s;
}

.input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff; 
  border-bottom: 2px solid #f5593d;
}

.submit-button {
  background: #f5593d;
  color: #eee;
  transition: all .3s;
}

.submit-button:hover{
  background: #f9793d;
  transform: translateY(-3px);
}

.label{
  color: #777;
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  font-size: 13px;
  transition: all .3s;
}

.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}

.message{
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all .8s;
}

.message:focus{
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff; 
  border: 2px solid #f5593d;
}

@media ( max-width: 992px){
  .contact{
    background: linear-gradient(rgba(21,31,32,1), rgba(21,31,32,.95));
  }

  .contact-form {
    width: 80%;
    margin: auto;
  }
}
/* contact */
